<template>
  <div>
    <div v-if="showSaveErrorMessage" class="alert alert-danger">
      Save failed: All fields highlighted in red are required.
    </div>
    <CreateEditClientForm
      :form="form"
      v-on:logo-selection-change="handleLogoSelectionChange"  />
    <AsyncActionButton
      :isBusy="isBusy"
      v-on:clicked="handleClientCreate"
      displayText="Save"
      busyText="Saving"
      clickEventValue="add-company" />
  </div>
</template>


<script>
  import CreateEditClientForm from "./create-edit-form";
  import AsyncActionButton from "../common/async-action-button";
  import { clients } from '../srv/clients';
  import { addEditClientFormData } from '../mixins/clients/add-edit-form.js';

  export default {
    mixins: [addEditClientFormData],
    components: {
      AsyncActionButton,
      CreateEditClientForm,
    },
    data: function () {
      return {
        showSaveErrorMessage: false,
      };
    },
    methods: {
      handleClientCreate: function() {
        this.isBusy = true;
        this.showSaveErrorMessage = false;
        clients.create(this.form, this.logoFormData)
          .then((client) => {
            window.location = client.home;
        }).catch(() => {
          this.isBusy = false;
          this.showSaveErrorMessage = true;
          setTimeout(() => {
            this.showSaveErrorMessage = false;
          }, 5000)
        });
      },
      handleLogoSelectionChange: function(formData){
        this.logoFormData = formData;
      }
    },
  };
</script>
