<template>
  <div class="sf-client-search">
    <div class="autosuggest">
      <input
        v-model="search"
        class="form-control"
        type="text"
        ref="searchInput"
        @input="onChange"
        @keydown.down="onArrowDown"
        @keydown.up="onArrowUp"
        @keydown.enter="onEnter"
        placeholder="Start typing company name...">
      <ul class="autosuggest-results" v-show="isOpen">
        <li
          v-for="(result, i) in results"
          :key="i"
          :class="{ 'is-active': i === arrowCounter && result.id !== -1, 'autosuggest-result': true, 'autosuggest-result-disabled': result.id === -1 }"
          @click="setResult(result)">
          {{ result.name }}
        </li>
      </ul>
    </div>
    <div>
      <button
        class="btn btn-primary"
        @click="handleSelectButtonClick"
        :disabled="isValid === 0">
        Select
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    clientList: {
      type: Array,
      required: true,
      default: () => [],
    }
  },
  data: function () {
    return {
      search: '',
      results: [],
      isOpen: false,
      arrowCounter: -1,
      isValid: 0,
    }
  },
  watch: {
    search: function (val, oldValue) {
      // actually compare them
      if (val.length !== oldValue.length) {
        const nameList = this.clientList.map(client => client.name);
        this.isValid = _.includes(nameList, val) ? 1 : 0;
      }
    },
  },
  methods: {
    onChange: function (){
      this.isOpen = true;
      this.filterResults();
    },
    handleSelectButtonClick: function(event){
      event.preventDefault();

      //TODO: client with the same name wont work.
      var foundResult = this.results.find((result) => result.name === this.search);

      if (foundResult){
        this.$emit('selection-made', foundResult);
      }
    },
    filterResults() {
      this.results = [];
      if (this.search !== ''){
        this.results = this.clientList.filter(client => client.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1);
      }

      if (this.results.length === 0){
        this.results = [{ id: -1, name: "No results found" }];
      }
    },
    setResult(result) {
      if (result.id !== -1){
        this.search = result.name;
        this.isOpen = false;
      }
    },
    onArrowDown() {
      if (this.arrowCounter < this.results.length) {
        this.arrowCounter = this.arrowCounter + 1;
      }
    },
    onArrowUp() {
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
      }
    },
    onEnter() {
      if (this.results[this.arrowCounter].id !== -1){
        this.search = this.results[this.arrowCounter].name;
        this.isOpen = false;
        this.arrowCounter = -1;
      }
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.isOpen = false;
        this.arrowCounter = -1;
      }
    }
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
    this.$nextTick(() => this.$refs.searchInput.focus());
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside);
  },
};

</script>

<style scoped>

.sf-client-search{
  display: flex;
  justify-content: flex-start;
}

.autosuggest{
  position: relative;
  min-width: 460px;
  padding-right: 20px;
}

.autosuggest-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  overflow: auto;
  position: absolute;
  width: 460px;
  max-height: 200px;
  box-sizing: border-box;
  background: white;
  z-index: 1;
}

.autosuggest-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autosuggest-result.autosuggest-result-disabled{
  cursor: unset;
}

.autosuggest-result.is-active {
  background-color: #a9a9a9;
  color: white;
}

.autosuggest-result:not(.autosuggest-result-disabled):hover{
  background-color: #a9a9a9;
  color: white;
}

</style>
