<template>
  <div style="padding: 0px 30px;">
    <form>
      <div class="form-row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="CompanyName"><small>Company Name</small></label>
            <input type="text"
              v-model="form.name"
              ref="nameInput"
              :class="{'is-invalid': form.errors.has('name')}"
              id="CompanyName"
              maxlength="100"
              class="form-control form-control-sm">
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Industry"><small>Industry</small></label>
                <select
                  v-model="form.industry"
                  :class="{'is-invalid': form.errors.has('industry')}"
                  id="Industry"
                  class="form-control form-control-sm">
                  <option selected value="">Choose...</option>
                  <option value="aerospace">Aerospace</option>
                  <option value="agriculture">Agriculture</option>
                  <option value="fishing">Fishing</option>
                  <option value="timber">Timber</option>
                  <option value="tobacco">Tobacco</option>
                  <option value="chemical">Chemical</option>
                  <option value="pharmaceutical">Pharmaceutical</option>
                  <option value="software">Software</option>
                  <option value="construction">Construction</option>
                  <option value="defense">Defense</option>
                  <option value="education">Education</option>
                  <option value="energy">Energy</option>
                  <option value="entertainment">Entertainment</option>
                  <option value="financial-services">Financial Services</option>
                  <option value="food">Food</option>
                  <option value="health-care">Health Care</option>
                  <option value="hospitality">Hospitality</option>
                  <option value="information">Information</option>
                  <option value="manufacturing">Manufacturing</option>
                  <option value="automotive">Automotive</option>
                  <option value="electronics">Electronics</option>
                  <option value="pulp-paper">Pulp and Paper</option>
                  <option value="steel">Steel</option>
                  <option value="shipbuilding">Shipbuilding</option>
                  <option value="media">Media</option>
                  <option value="telecommunications">Telecommunications</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="CompanySize"><small>Size</small></label>
                <select
                  v-model="form.size"
                  :class="{'is-invalid': form.errors.has('size')}"
                  id="CompanySize"
                  class="form-control form-control-sm">
                  <option selected value="">Choose...</option>
                  <option value="1-10">1-10</option>
                  <option value="11-25">11-25</option>
                  <option value="26-50">26-50</option>
                  <option value="51-75">51-75</option>
                  <option value="76-100">76-100</option>
                  <option value="101-200">101-200</option>
                  <option value="201-300">201-300</option>
                  <option value="301-400">301-400</option>
                  <option value="401-500">401-500</option>
                  <option value="501-600">501-600</option>
                  <option value="601-700">601-700</option>
                  <option value="701-800">701-800</option>
                  <option value="801-900">801-900</option>
                  <option value="901-1000">901-1000</option>
                  <option value="1000-5000">1000-5000</option>
                  <option value="5000-10000">5000-10000</option>
                  <option value="10000-50000">10000-50000</option>
                  <option value="greater-than-50000">50000+</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <image-upload-input
            style="margin-top:30px;"
            v-on:selection-change="handleImageSelection"
            :existingImageURL="existingClientLogo"
            ></image-upload-input>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress1"><small>Address</small></label>
        <input
          v-model="form.address"
          :class="{'is-invalid': form.errors.has('address')}"
          type="text"
          maxlength="100"
          class="form-control form-control-sm"
          id="inputAddress1">
      </div>
      <div class="form-group">
        <label for="inputAddress2"><small>Address 2</small></label>
        <input
          v-model="form.address2"
          type="text"
          maxlength="100"
          class="form-control form-control-sm"
          id="inputAddress2"
          placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity"><small>City</small></label>
          <input
            v-model="form.city"
            :class="{'is-invalid': form.errors.has('city')}"
            type="text"
            maxlength="100"
            class="form-control form-control-sm"
            id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState"><small>State</small></label>
          <select
            v-model="form.state"
            :class="{'is-invalid': form.errors.has('state')}"
            id="inputState"
            class="form-control form-control-sm">
            <option selected value="">Choose...</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip"><small>Zip</small></label>
          <the-mask
            v-model="form.zipcode"
            :class="{'is-invalid': form.errors.has('zipcode')}"
            type="text"
            class="form-control form-control-sm"
            maxlength="5"
            placeholder="5 digit zip"
            :mask="'#####'"
            id="inputZip" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="ContactName"><small>Name</small></label>
          <input
            v-model="form.contact.name"
            :class="{'is-invalid': form.errors.has('contact.name')}"
            type="text"
            class="form-control form-control-sm"
            id="ContactName">
        </div>
        <div class="form-group col-md-6">
          <label for="ContactEmail"><small>Email</small></label>
          <input
            v-model="form.contact.email"
            :class="{'is-invalid': form.errors.has('contact.email')}"
            type="email"
            class="form-control form-control-sm"
            id="ContactEmail">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="MobilePhone"><small>Mobile Phone</small></label>
          <the-mask
            v-model="form.contact.mobilePhone"
            :class="{'is-invalid': form.errors.has('contact.mobilePhone')}"
            type="tel"
            placeholder="(___)___-____"
            :mask="'+1(###)###-####'"
            class="form-control form-control-sm"
            id="MobilePhone" />
        </div>
        <div class="form-group col-md-6">
          <label for="BusinessPhone"><small>Business Phone</small></label>
          <the-mask
            :class="{'is-invalid': form.errors.has('contact.workPhone')}"
            v-model="form.contact.workPhone"
            type="tel"
            placeholder="(___)___-____"
            :mask="'+1(###)###-####'"
            class="form-control form-control-sm"
            id="BusinessPhone" />
        </div>
      </div>
    </form>
  </div>
</template>


<script>

import {TheMask} from 'vue-the-mask'
import ImageUploadInput from './image-upload-input.vue'

export default {
  components: {
    ImageUploadInput,
    TheMask,
  },
  props: {
    form: {
      type: Object,
      required: true,
    },
    existingClientLogo: {
      type: String,
      required: false,
      default: '',
    }
  },
  mounted() {
    this.$nextTick(() => this.$refs.nameInput.focus());
  },
  methods: {
    handleImageSelection(result){
      this.$emit('logo-selection-change', result.formData);
    },
  },
};
</script>
