<template>
  <a class="btn btn-secondary" href='#' @click="handleClientDelete">Delete</a>
</template>


<script>
  import { clients } from '../srv/clients';

  export default {
    props: {
      clientDeleteUrl: {
        type: String,
        required: true,
      },
    },
    methods: {
      handleClientDelete: function(event) {
        event.preventDefault();
        if (window.confirm("Are you sure what to delete this client?  This action cannot be undone.")) {
          clients.delete(this.clientDeleteUrl)
            .then(() => {
              window.location = '/home';
          }).catch(() => {

          });
        }
      },
    },
  };
</script>
