<template>
  <div align="center">
    <input type="file"
       ref="file"
       accept="image/png, image/jpeg"
       :name="uploadFieldName"
       @change="onFileChange($event.target.name, $event.target.files)"
       style="display:none">
    <div
      class="existing-image-container"
      v-bind:style="existingImageStyle">
      <div
        v-if="selectedImageData.length > 0"
        class="selected-image-container"
        v-bind:style="selectedImageStyle" />
    </div>
    <button @click="launchFilePicker()" type="button" class="btn btn-link">
      <small><i class="fa fa-folder-open"></i> Select Logo</small>
    </button>
  </div>
</template>

<script>
  export default {
    name: 'image-upload-input',
    props: {
      existingImageURL: {
        type: String,
        required: false,
        default: '',
      },
    },
    data: ()=> ({
      errorDialog: null,
      errorText: '',
      uploadFieldName: 'file',
      imageData: "",
      selectedImageData: "",
    }),
    computed: {
      existingImageStyle: function () {
        if (this.existingImageURL !== ''){
            return {
              backgroundImage: 'url(' + this.existingImageURL + ')'
            }
        }

        return {};
      },
      selectedImageStyle: function(){
        if (this.selectedImageData !== ''){
            return {
              backgroundImage: 'url(' + this.selectedImageData + ')'
            }
        }
      },
    },
    methods: {
      launchFilePicker(){
        this.$refs.file.click();
      },
      onFileChange(fieldName, file) {
        let imageFile = file[0];

        if (file.length > 0) {
          let sizeInKb = imageFile.size / 1024;
          if (imageFile.type !== 'image/jpeg'
              && imageFile.type !== 'image/png') {
            this.errorDialog = true;
            this.errorText = 'Please choose an image file';
          } else if (sizeInKb > 500) {
            this.errorDialog = true;
            this.errorText = 'Please select an image under 500kb';
          } else {

            //preview the image
            var input = event.target;
            if (imageFile) {
                var reader = new FileReader();
                reader.onload = (e) => {
                  this.selectedImageData = e.target.result;
                }
                reader.readAsDataURL(imageFile);
            }

            // Append file into FormData and turn file into image URL
            let formData = new FormData()
            let imageURL = URL.createObjectURL(imageFile)
            formData.append(fieldName, imageFile)
            // Emit the FormData and image URL to the parent component
            this.$emit('selection-change', { formData, imageURL })
          }
        }
      }
    }
  }
</script>

<style scoped>

.existing-image-container {
  width: 110px;
  height: 110px;
  overflow: hidden;
  background-color: #f1f1f1;
  background-size: cover;
  position: relative;
}

.selected-image-container {
  width: 110px;
  height: 110px;
  overflow: hidden;
  background-color: #f1f1f1;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

</style>
