<template>
  <div>
    <Modal v-if="isModalVisible" v-on:close="close">
      <h6 slot="header">Select a Company</h6>
      <ClientSearch
        v-on:selection-made="onClientSelected"
        :client-list="clientList"
        slot="body"/>
    </Modal>
  </div>
</template>

<script>
  import Modal from "../common/modal";
  import ClientSearch from "./client-search";
  import { clients } from '../srv/clients';
  import { EventBus } from '../common/event-bus.js';

  export default {
    name: "select-client-modal",
    components: {
      Modal,
      ClientSearch,
    },
    data() {
      return {
        isModalVisible: false,
        clientList: [],
      }
    },
    mounted() {
      // Import the EventBus.
      EventBus.$on('show-select-client-modal', () => {
        this.isModalVisible = true;
        clients.fetchAll().then((result) => {
          this.clientList = result.items;
        });
      });
    },
    methods: {
      close() {
        this.isModalVisible = false;
      },
      onClientSelected(client){
        this.$nextTick(() => {
          window.location = client.home;
        });
      }
    },
  };
</script>
