<template>
  <div>
    <div v-if="showSaveSuccessMessage" class="alert alert-success">
      The company information has been updated!
    </div>
    <div v-if="showSaveErrorMessage" class="alert alert-danger">
      Save failed: All fields highlighted in red are required.
    </div>
    <CreateEditClientForm
      :form="form"
      :existingClientLogo="logoURL"
      v-on:logo-selection-change="handleLogoSelectionChange"
    />
    <AsyncActionButton
      :isBusy="isBusy"
      v-on:clicked="updateClient"
      displayText="Update"
      busyText="Saving"
      clickEventValue="save-company" />
  </div>
</template>

<script>
import CreateEditClientForm from "./create-edit-form";
import AsyncActionButton from "../common/async-action-button";
import { clients } from '../srv/clients';
import { addEditClientFormData } from '../mixins/clients/add-edit-form.js';

export default {
  props: {
    clientData: {
      type: Object,
      required: true,
    },
  },
  mixins: [addEditClientFormData],
  components: {
    AsyncActionButton,
    CreateEditClientForm,
  },
  data: function () {
    return {
      logoURL: '',
      showSaveSuccessMessage: false,
      showSaveErrorMessage: false,
    };
  },
  mounted() {
    this.logoURL = this.clientData.logo;
    this.populateFormData(this.clientData);
  },
  methods: {
    updateClient: function() {
      this.isBusy = true;
      this.showSaveErrorMessage = false;
      this.showSaveSuccessMessage = false;
      clients.update(this.clientData.editPath, this.form, this.logoFormData).then(() => {
        this.$nextTick(() => {
          this.isBusy = false;
          this.showSaveSuccessMessage = true;
          setTimeout(() => {
            this.showSaveSuccessMessage = false;
          }, 5000)
        });
      }).catch(() => {
        this.isBusy = false;
        this.showSaveErrorMessage = true;
        setTimeout(() => {
          this.showSaveErrorMessage = false;
        }, 5000)
      });
    },
    handleLogoSelectionChange: function(formData){
      this.logoFormData = formData;
    },
  }
}
</script>

<style scoped>

.editForm{
  padding-top: 20px;
  border-top: 1px solid #cccccc;
  margin-top: 25px;
}

</style>
