@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');

@page {
  size: 5.5in 8.5in;
  margin: 0;
}

html, body {
  width: 100%;
	padding:0;
	margin:0;
  font-family: 'Montserrat', sans-serif;
}

.page {
  width: 100%;
	margin: 0;
	padding: 0;
	page-break-after: always;
}

.page.home .h-100 {
  height: 100%;
}

.next-button, .prev-button, #reasonsModal {
  display: none;
}

.container-fluid {
  margin: 30px;
}

.home .container-fluid {
  margin: 0;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.justify-content-center > div {
  margin-left: 20px;
}

.turnover-analysis-tab {
  display: none;
}

/* Home */

.home {
  background: url(../img/pdf-home-background.svg) no-repeat;
	background-size: cover;

}

.welcome-safa-insight-bar {
  padding: 20px;
  color: #fff;
}

.welcome-safa-insight-bar img {
  width: 150px;
}

.welcome-safa-insight-bar h4 {
  font-weight: 400;
  font-size: 12px;
}

.welcome-safa-customer {
  padding: 20px;
  text-align: center;
}

.col-sm-4 {
  float: left;
  width: 45%;
}

.col-sm-8 {
  float: left;
  width: 55%;
}

/* Reasons */

.reasons-content {
  display: block;
  page-break-before: always;
  margin: 30px;
}

.reasons-content > div {
  background: #F3F4F4;
  margin-bottom: 30px;
  page-break-inside: avoid;
}

.reasons-content > div > .title {
  background: #545B65;
  color: #fff;
  padding: 20px;
  font-size: 14px;
}

.reasons-content > div > .content {
  padding: 20px;
  font-size: 12px;
}

.turnover-cost .col-sm-6 {
  width: 100%;
  float: left;
}

.turnover-cost .col-sm-6.h-100 {
  height: auto;
}

.turnover-cost .col-sm-6 > div {
  background: #F3F4F4;
  padding: 20px;
  margin-bottom: 20px;
}
