<template>
  <div>
    <button @click="onButtonClick" class="btn btn-light btn-circle"><i class="fa fa-search"></i></button>
  </div>
</template>


<script>

import { EventBus } from '../../common/event-bus.js';

export default {
  name: "select-client-nav-item",
  methods: {
    onButtonClick(eventType){
      EventBus.$emit('show-select-client-modal');
    },
  }
};
</script>
