// @import "./spark/spark";
@import "./../../../vendor/laravel/spark-aurelius/resources/assets/sass/spark";
@import "./insight/company-logo";
@import "./insight/clientfocus/sidebar";
@import "./insight/reasons";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');
@import "variables";

html, body {
  height: 100%!important;
  background: $white url(/img/bg-fade.png) no-repeat top right;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #424A55;
}

h3 {
  color: #545B65;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

h4 {
  color: #545B65;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

label {
  font-size: 12px;
  font-weight: 400;
  color: #545B65;
}

input {
  font-size: 11px;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.table tbody tr.clickable-row:hover {
  background: #fff;
  cursor: pointer;
}

.table thead th {
  background-color: transparent;
  border-top: 0;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  color: #C7C7C7;
}

.table td, .table th {
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding: 15px;
  vertical-align: middle;
}

.module {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 100%!important;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.company-sidebar {
  position: sticky;
  top: 58px;
  min-width: 50px;
  height: calc(100vh - 58px);
  background-color: #6E7888;
  text-align: center;
  padding-top: 20px;
}

.company-sidebar .btn-light {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #fff;
}

.company-sidebar .btn-light a {
  color: #fff;
}

.company-sidebar .btn-light:hover {
  background: #545B65;
}

.company-sidebar .nav-item {
  margin-bottom: 10px;
}

.company-thumbnail {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 20px;
}

.client-sidebar {
  position: sticky;
  top: 58px;
  min-width: 140px;
  height: calc(100vh - 58px);
  background-color: #F4F5F7;
  padding-top: 20px;
}

.client-sidebar .nav-item a {
  color: #545B65;
  padding-top: 10px;
  padding-bottom: 10px;
}

.client-sidebar .nav-item a:hover {
  background: #EAECF0;
}

.client-sidebar .nav-item a i {
  font-size: 16px;
  margin-right: 8px;
}

// Setup Nav States
body.clientfocus__home .client-sidebar .nav-item:first-child a {
  background: #EAECF0;
}

.client-content {
  padding-top: 40px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

body.clientfocus__home {
 height:100vh;
 margin:0;
 background: $white;
}
body.clientfocus__home:before {
 content:"";
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 width:50%;
 background: $primary;
 transform:skew(-10deg);
}

// Background Setup for Turnover Cost
body.clientfocus__turnover-cost {
 height:100vh;
 margin:0;
 background: #4F5B78;
}
body.clientfocus__turnover-cost:before {
 content:"";
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 width:50%;
 background: $primary;
 transform:skew(-10deg);
}
body.clientfocus__turnover-cost h3, body.clientfocus__turnover-cost h4 {
  color: $white;
}

body.clientfocus__turnover-cost ul {
  list-style: none;
  color: #fff;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

body.clientfocus__turnover-cost li {
  list-style: none;
  margin-bottom: 10px;
}

body#settings .wrapper {
  padding-top: 20px;
}

.wrapper_padding {
  padding-top: 20px;
}

.welcome-safa-insight-bar h4 {
  color: $white;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}

.welcome-safa-customer {
  padding: 50px;
}

.welcome-safa-customer h4, .welcome-safa-customer img {
  text-align: center;
  margin-bottom: 30px;
}

.company-logo-small {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.prev-button {
  position: fixed;
  bottom: 50px;
  left: 240px;
}

.next-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.btn-primary {
  background-color: $primary;
  border-radius: 20px;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: bold;
  border: 0;
}

.btn-lg {
  background-color: $primary;
  border-radius: 20px;
  padding: 8px 40px;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:not([disabled]):hover {
  background-color: #1542BE;
}

.chart-wrapper {
  height: 500px;
}

.reasons-content {
  display: none;
}

@media print {
  body.clientfocus__home:before {
   content:"";
   background: $white;
  }

  .welcome-safa-insight-bar img {
    display: none;
  }

  .welcome-safa-insight-bar h4 {
    color: #000;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
  }

  body.clientfocus__turnover-cost {
   background: $white;
  }
  body.clientfocus__turnover-cost:before {
   background: $white
  }
  body.clientfocus__turnover-cost h3, body.clientfocus__turnover-cost h4 {
    color: #000;
  }

  body.clientfocus__turnover-cost ul {
    list-style: none;
    color: #000;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }


}
