<template>
  <a class="btn btn-primary" href='#' @click="handleClick">
    <i v-if="isBusy" class='fa fa-spinner fa-spin' />
    {{ getDisplayText }}</a>
</template>

<script>
  import { button } from '../mixins/button';

  export default {
    mixins: [button],
    props: {
      isBusy: {
        type: Boolean,
        required: true,
        default: false,
      },
      busyText: {
        type: String,
        required: false,
        default: '',
      }
    },
    computed: {
      getDisplayText: function () {
        return this.isBusy ? this.busyText : this.displayText;
      }
    },
  }
</script>
