<template>
  <div class="sf-modal-backdrop">
    <div class="sf-modal">
      <header class="sf-modal-header">
        <slot name="header">
          This is the default tile!
        </slot>
        <button
          type="button"
          class="btn-close"
          @click="close"
        >
          x
        </button>
      </header>
      <section class="sf-modal-body">
        <slot name="body">
          I'm the default body!
        </slot>
       </section>
       <footer class="sf-modal-footer">
        <slot name="footer">
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      close() {
        this.$emit('close');
      },
    },
  };
</script>

<style scoped>
  .sf-modal-backdrop {
    z-index: 1020;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sf-modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    border-radius: 5px;
  }

  .sf-modal-header,
  .sf-modal-footer {
    padding: 15px;
    display: flex;
  }

  .sf-modal-header {
    justify-content: space-between;
  }

  .sf-modal-body {
    position: relative;
    padding: 10px 10px;
  }

  .btn-close {
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }
</style>
