<template>
  <a class="nav-link" href='#' @click="handleClick">{{ displayText }}</a>
</template>

<script>
  import { button } from '../mixins/button';

  export default {
    mixins: [button],
  }
</script>
